{% extends 'base.html.twig' %}

{% block title %}Congé{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Date de demande</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Département</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td>{{ conge.dateDemande ? conge.dateDemande|date('Y-m-d')}}</td>
                <td>{{ conge.utilisateur.matricule}}</td>
                <td>{{ conge.utilisateur.nom}}</td>
                <td>{{ conge.typeConge.nom }}</td>
                <td>{{ conge.utilisateur.departement.nom}}</td>
                <td>
                    <a href="{{ path('congeRecue_show', {'id': conge.id}) }}">
                        <button type="button" class="btn btn-info">
                            Détails
                        </button>
                    </a>
                </td>

                <td>
                    {{ include('conge/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conge_new') }}">Create new</a>
{% endblock %}
