{% extends 'base.html.twig' %}
{% block title %}Validation Commande!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span9">

                {% for flashMessage in app.session.FlashBag.get('success') %}
                    <div class="danger">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                <h2>Liste des Materiel Ajouter</h2>

                <form>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Designation</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Quantité</th>
                            <th>PU Min</th>
                            <th>PU Max</th>
                            <th>Prix total Min</th>
                            <th>Prix total max</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if materiels|length == 0 %}
                            <tr>
                                <td colspan="5"><center>Liste vide</center></td>
                            </tr>
                        {% endif %}
                        {% for materiel in conges %}
                            <tr class="container">
                                <td>{{materiel.id}}</td>
                                <td>{{materiel.datedebut}}</td>
                                <td>{{materiel.datefin}}</td>
                                <td>{{materiel.datedemande}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if materiels|length != 0 %}

                </form>
            <br><br>

                <a href="{{path('validation')}}" class="btn btn-success pull-right">Valider La Commander</a>
                <a href="{{ path('ajoutercommande') }}" class="btn btn-primary">Enregistrer</a>
            {% else %}
                <a href="{{path('materielUtilisateur')}}" class="btn btn-primary">Ajouter Materiel</a>
                {% endif %}

                {#<a href="{{path('annuler')}}" class="btn btn-danger">Annuler</a>#}

            </div>

        </div>
    </div>
{% endblock %}