{% extends 'base.html.twig' %}

{% block title %}New Conge{% endblock %}

{% block body %}
    <h1>Demander un congé : </h1>

    {#{{ include('conge/_form.html.twig') }}#}
        <div class="container">
            <div class="starter-template">
                 {{ form_start(form) }}
                {{ form_widget(form) }}
                  <button class="btn btn-success">{{ button_label|default('Save') }}</button>
                        {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
     <div class="col-md-3 offset-md-0">
        <a href="{{ path('planning') }}"> <button type="button" class="btn btn-primary"> Retour </button> </a>
    </div>
{% endblock %}
{% block javascript %}
            {{ parent() }}
                <script type="text/javascript">
                    $(document).ready(function() {
                         $('#datetimepicker').datetimepicker();
                       });
        </script>

{% endblock %}
