<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1><center>Détails d'une demande de Conge</center></h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Date de demande</th>
            <td>{{ conge.dateDemande ? conge.dateDemande|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ conge.utilisateur.matricule }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ conge.utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>CIN</th>
            <td>{{ conge.CIN }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ conge.email}}</td>
        </tr>
        <tr>
            <th>Raison</th>
            <td>{{ conge.raison }}</td>
        </tr>
        <tr>
            <th>Nombre de jours</th>
            <td>{{ conge.nombre }}</td>
        </tr>
        <tr>
            <th>Département</th>
            <td>{{  conge.utilisateur.departement.nom }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ conge.typeConge.nom }}</td>
        </tr>

        <tr>
            <th>Date de début</th>
            <td>{{ conge.dateDebut ? conge.dateDebut|date() }}</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>

