{% extends 'base.html.twig' %}

{% block title %}Détails demande{% endblock %}

{% block body %}
    <h1><center>Détails d'une demande</center></h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Date de demande</th>
            <td>{{ conge.dateDemande ? conge.dateDemande|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ conge.utilisateur.matricule }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ conge.utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prénoms</th>
            <td>{{ conge.utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>CIN</th>
            <td>{{ conge.CIN }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ conge.email}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ conge.typeConge.nom }}</td>
        </tr>
        {% if conge.typeConge.nom == 'Autre' %}
            <tr>
                <th>Raison</th>
                <td>{{ conge.raison }}</td>
            </tr>
            <tr>
                <th>nombre de Jour</th>
                <td>{{ conge.nombre }}</td>
            </tr>
            {% else %}
                <tr>
                    <th>Nombre de Jour</th>
                    <td>{{ conge.typeConge.NbJour }}</td>
                </tr>
        {% endif %}

        <tr>
            <th>Département</th>
            <td>{{  conge.utilisateur.departement.nom }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ conge.dateDebut ? conge.dateDebut|date() }}</td>
        </tr>

        </tbody>
    </table>

    <div>
        <a href="{{ path('mailer') }}" class="btn btn-success">Accepter</a>
        <a href="{{ path('mailerRefuser') }}" class="btn btn-danger">Refuser</a>
    </div><br>

    <a href="{{ path('conge_index') }}">
        <button type="button" class="btn btn-primary"> Retour</button>
    </a>
    </br>



{% endblock %}
