<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>Votre demande de <b>Congé</b> a été accepté!!bon séjour!<br>
    <br>
    L'administrateur!<br> KRAOMA SA <img src="/img/logokraoma.jpg" style="width:150px; height: auto"></p>
</body>
</html>