<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Massively by HTML5 UP</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/css/main.css" />
  <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

  <!-- Intro -->
  <div id="intro">
    <h1>Maitrisez la gestion de vos<br />
      Congé et Permission</h1>

    <ul class="actions">
      <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
  </div>

  <!-- Header -->
  <header id="header">
    <a href="index.log" class="logo">Connectez-Vous</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li class="active"><a>Se connecter</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Featured Post -->
    <article class="post featured">
      <header class="major">
        <img src="/img/logokraoma.jpg" style="width:200px;">

        <form action="{{ path('verify_login') }}" method="POST">
          <div class="input-group mb-3">
            <input type="text" id="username" name="_username" class="form-control input_user" value="" placeholder="entrez votre nom d'utilisateur"  required>
          </div>
          <br>
          <div class="input-group mb-2">
            <input type="password" id="password" name="_password" class="form-control input_pass" value="" placeholder="entrez votre mot de passe" required>
          </div>
          <br>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" name="button" class="btn login_btn">Se connecter</button>
          </div>
        </form>
      </header>
    </article>
  </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>