{% extends 'base.html.twig' %}
{% set NbRestant = 0 %}

{% block stylesheet %}

    <!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <!-- //css files -->

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext" rel="stylesheet">

    <!-- //google fonts -->
    {% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col col-4 offset-2">
                {% if user.filename %}
                    {#<img src="/images/properties/{{ materiel.filename }}" alt="" style="width: 400px; height: auto">#}
                    <br><br><br><br><img src="{{ vich_uploader_asset(user,'imageFile') }}" alt="" style="width: 300px; height: auto">
                {% else %}
                    <img src="/images/properties/user.png" alt="" style="width: 300px; height: auto">
                {% endif %}
                <br>
            </div>
            <div class="col col-5"><br><br><br><br>
                <h5><div> <b>N° Matricule</b> :{{ user.matricule }}</div>
                    <br>
                    <div> <b>Username</b> :{{ user.username }}</div>
                    <br>
                    <div> <b>Nom</b> :{{ user.nom }}</div>
                    <br> <div> <b>Prénom</b> :{{ user.prenom }}</div>
                    <br><div> <b>Email</b> :{{ user.email }}</div>
                    <br><div> <b>CIN N°</b> :{{ user.CIN }}</div>
                    <br><div> <b>Medaille</b> :{{ user.medaille.nom }}</div>
                    <br><div> <b>Département</b> :{{ user.departement.nom }}</div>
                    <br><div> <b>Nombre de Jour Restant</b> :{{ user.nbJour }}</div>
                    <br><br></h5>
            </div>
            <br>
        </div>


{% endblock %}