<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/css.css">
    {#<link rel="stylesheet" href="{{ asset('/css/bootswatch.min.css') }}">#}



    {% block stylesheets %}
        {# FONT AWESOME#}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.cs" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.min.css') }}" />
        <script type="text/javascript" src="{{ asset('fontawesome/js/fontawesome.js') }}"></script>
        <script type="text/javascript" src="{{ asset('fontawesome/js/fontawesome.min.js') }}"></script>


        {# Toiba Full calendar #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="{{ asset('datetimepicker/css/bootstrap-datetimepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
        <script type="text/javascript" src="{{ asset('datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    {% endblock %}
    {% if role == true %}
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">

        <br><br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('apropos') }}">A propos <span class="sr-only"></span></a>
                </li>


                <!--<li class="nav-item">
                    <a class="nav-link" href="{{ path('booking_index') }}">Planning</a>
                </li>
                -->

                <li class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Congé
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('indexCongeRecu') }}"><img src="/img/email.png" style="width: 40px; height: auto;">Demande Congés Reçues</a>


                    </div>
                </li>

                <li class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Permission
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('indexPermissionRecu') }}"><img src="/img/email.png" style="width: 40px; height: auto;">Demande Permission Reçues</a>


                    </div>
                </li>


                <li class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gerer
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                        <a class="dropdown-item" href="{{ path('medaille_index') }}">Medaille</a>
                        <a class="dropdown-item" href="{{ path('departement_index') }}">Departement</a>
                        <a class="dropdown-item" href="{{ path('type_conge_index') }}">Type de Congé</a>
                        <a class="dropdown-item" href="{{ path('type_permission_index') }}">Type de Permission</a>


                    </div>
                </li>

            </ul>
            <ul class="navbar-nav ">
                <li class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/img/menu.png" style="width: 40px;">
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('profil') }}">Profil</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Deconnexion</a>


                    </div>
                </li>
            </ul>
        </div>
        </div>

    </nav>


{% else %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('apropos') }}">A propos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Conge
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('conge_new') }}">Nouveau Congé</a>
                            <a class="dropdown-item" href="{{ path('conge_index') }}">Congé Enregistrer</a>
                            <a class="dropdown-item" href="{{ path('indexCogeEnvoyer') }}">Congé Envoyé</a>


                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Permission
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('permission_new') }}">Nouveau Permission</a>
                            <a class="dropdown-item" href="{{ path('permission_index') }}">Permission Enregistré</a>
                            <a class="dropdown-item" href="{{ path('indexPermissionEnvoyer') }}">Permission Envoyé</a>


                        </div>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="/booking">Planning</a>
                    </li>
                    -->
                    
                </ul>
                <ul class="navbar-nav mr-auto offset-6">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('logouta') }}">Se déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endif %}
</body>
</html>
