{% extends 'base.html.twig' %}
{% set NbRestant = 0 %}

{% block body %}

    <div class="container">
        <b><h1>Votre Profil</h1></b><br>
        <div class="row">
            <div class="col col-4 offset-2">
                {% if user.filename %}
                    {#<img src="/images/properties/{{ materiel.filename }}" alt="" style="width: 400px; height: auto">#}
                    <img src="{{ vich_uploader_asset(user,'imageFile') }}" alt="" style="width: 300px; height: auto">
                {% else %}
                    <img src="/images/properties/user.png" alt="" style="width: 300px; height: auto"><br><br><br>
                {% endif %}
                <br>
            </div>
            <div class="col col-5"><br><br><br><br>
                <h5><div> <b>N° Matricule</b> :{{ user.matricule }}</div>
                <div> <b>Username</b> :{{ user.username }}</div>
                <div> <b>Nom</b> :{{ user.nom }}</div>
                <div> <b>Prénom</b> :{{ user.prenom }}</div>
                <div> <b>Email</b> :{{ user.email }}</div>
                <div> <b>CIN N°</b> :{{ user.CIN }}</div>
                <div> <b>Medaille</b> :{{ user.medaille.nom }}</div>
                <div> <b>Département</b> :{{ user.departement.nom }}</div>
                <div> <b>Nombre de Jour Restant</b> :{{ user.nbJour }}</div>
                <br></h5>
                <br>
            </div>

            <div class="btn btn-primary offset-3">
                <a href="#">Modifer Mon Profil</a>
            </div>
        </div>
    </div>


{% endblock %}