<form action="{{ path('save_new') }}" method="POST">
{{ form_start(form) }}
{{ form_rest(form) }}
    {# <label for="exampleInputFile">Name</label>
    <input type="text" name="" value="">
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
      </div> #}
      <a href="/save"><button class="btn">{{ button_label|default('Save') }}</button></a>
{{ form_end(form) }}

</form>
