{% extends 'base.html.twig' %}

{% block title %}Save{% endblock %}

{% block body %}
    <h1>Save</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ save.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ save.Name }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ save.Pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('save_index') }}">back to list</a>

    <a href="{{ path('save_edit', {'id': save.id}) }}">edit</a>

    {{ include('save/_delete_form.html.twig') }}
{% endblock %}
