<form method="post" action="{{ path('medaille_delete', {'id': medaille.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medaille.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
