{% extends 'base.html.twig' %}

{% block title %}Edit Medaille{% endblock %}

{% block body %}
    <h1>Edit Medaille</h1>

    {{ include('medaille/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('medaille_index') }}">back to list</a>

    {{ include('medaille/_delete_form.html.twig') }}
{% endblock %}
