{% extends 'base.html.twig' %}

{% block title %}Medaille index{% endblock %}

{% block body %}
    <h1>Medaille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NbJours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medaille in medailles %}
            <tr>
                <td>{{ medaille.id }}</td>
                <td>{{ medaille.nom }}</td>
                <td>{{ medaille.nbJours }}</td>
                <td>
                    <a href="{{ path('medaille_show', {'id': medaille.id}) }}">show</a>
                    <a href="{{ path('medaille_edit', {'id': medaille.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('medaille_new') }}">Create new</a>
{% endblock %}
