{% extends 'base.html.twig' %}

{% block title %}New Medaille{% endblock %}

{% block body %}
    <h1>Create new Medaille</h1>

    {{ include('medaille/_form.html.twig') }}

    <a href="{{ path('medaille_index') }}">back to list</a>
{% endblock %}
