{% extends 'base.html.twig' %}

{% block title %}Medaille{% endblock %}

{% block body %}
    <h1>Medaille</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medaille.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medaille.nom }}</td>
            </tr>
            <tr>
                <th>NbJours</th>
                <td>{{ medaille.nbJours }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medaille_index') }}">back to list</a>

    <a href="{{ path('medaille_edit', {'id': medaille.id}) }}">edit</a>

    {{ include('medaille/_delete_form.html.twig') }}
{% endblock %}
