{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
</br></br>


<div class="row justify-content-around">
   <div class="col-3">
    <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><a href= "/departement">Départements</a></div>
            <div class="card-body">
              <h4 class="card-title">Light card title</h4>
              <p class="card-text"></p>
            </div>
    </div>
  </div>
   <div class="col-3">
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header"><a href= "/role">Rôles</a></div>
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a href= "/utilisateur">Utilisateurs</a></div>
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
</div>

</br>
<div class="row justify-content-around">
   <div class="col-3">
      <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header"><a href= "/medaille">Médaille</a></div>
          <div class="card-body">
            <h4 class="card-title">Danger card title</h4>
            <p class="card-text"></p>
          </div>
      </div>
  </div>
  <div class="col-3">
      <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-header"><a href= "/conge/">Type de congé</a></div>
          <div class="card-body">
            <h4 class="card-title">Warning card title</h4>
            <p class="card-text"></p>
          </div>
      </div>
 </div>

 <div class="col-3">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
      <div class="card-header"><a href= "/departement">Catégorie des types de demande</a></div>
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text"></p>
        </div>
    </div>
  </div>
</div>

{% endblock %}
