{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Edit Utilisateur</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-info">back to list</a></button>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
