{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Numéro d'Identité</th>
                <th>Prénom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Département</th>
                <th>Medaille</th>
                <th>Nb Jours Restant</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>

                <td>{{ utilisateur.matricule }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.CIN }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.Username }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.departement.nom}}</td>
                <td>{{ utilisateur.medaille.nom }}</td>
                <td>{{ utilisateur.nbJour }}</td>
                <td>
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(utilisateurs) }}<br><br>
    <a href="{{ path('utilisateur_new') }}">Create new</a>
{% endblock %}
