{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>
                    {% if utilisateur.filename %}
                        {#<img src="/images/properties/{{ materiel.filename }}" alt="" style="width: 400px; height: auto">#}
                        <img src="{{ vich_uploader_asset(utilisateur,'imageFile') }}" alt="" style="width: 300px; height: auto">
                    {% else %}
                        <img src="/images/properties/user.png" alt="" style="width: 300px; height: auto">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ utilisateur.matricule }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Medaille</th>
                <td>{{ utilisateur.medaille }}</td>
            </tr>
            <tr>
                <th>Nombre de Jour Congé</th>
                <td>{{ utilisateur.NbJour }} </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            {#<br><br>#}
        {#<tr>#}
            {#<a href="#" class="btn-success">reinitialiser</a>#}
        {#</tr>#}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_index') }}">back to list</a>

    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
