{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('booking_new') }}">Create new booking</a>

    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Attribuer un Congé </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
    <script type="text/javascript">

        $(function () {
            $('#fullCalModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
            })
            $('#calendar-holder').fullCalendar({

                locale: 'fr',
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                lazyFetching: true,
                navLinks: true,
                editable:true,
                selectable:true,
                eventSources: [
                    {
                        url: "{{ path('fullcalendar_load_events') }}",
                        type: 'POST',
                        data:  {
                            filters: {}
                        },
                        error: function () {
                            alert('There was an error while fetching FullCalendar!');
                        }
                    }
                ],
                dayClick:  function(event, jsEvent, view) {
                    endtime = $.fullCalendar.moment(event.end).format('H:mm');
                    starttime = $.fullCalendar.moment(event.start).format('dddd, Do MMMM  YYYY, H:mm');
                    isAllDay = $.fullCalendar.moment(event.start).format('dddd, Do MMMM  YYYY');

                    var mywhen = starttime + ' - ' + endtime;
                    console.log(event);
                    console.log(event.commentaire);
                    console.log('avant modal');
                    $('.modal').modal();

                },
                dayRender: function (date, element, view)
                {
                    var date = new Date(date);
                    var day = date.getDate().toString();
                    if (day.length == 1)
                        day = 0 + day;
                    var year = date.getFullYear();
                    var month = (date.getMonth() + 1).toString();
                    if (month.length == 1)
                        month = 0 + month;
                    var dateStr = year + "-" + month + "-" + day ;

                    if ( dateStr.toString() == '2019-03-11')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-12')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }
                    if ( dateStr.toString() == '2019-03-13')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-14')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-15')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-17')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-18')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }
                    if ( dateStr.toString() == '2019-03-19')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-20')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-21')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-22')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-03-16')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#ff85d1;font-size: 14px;'>Rakoto Fotsy Vacances</div>";
                        element.append(new_description);
                        $(element).css("background", "#ff85d1"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }


                    if ( dateStr.toString() == '2019-04-15')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#1313ff;font-size: 14px;'>Rasoa Bakoly <br> Raison personnel</div>";
                        element.append(new_description);
                        $(element).css("background", "blue"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-04-16')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#1313ff;font-size: 14px;'>Rasoa Bakoly <br> Raison personnel</div>";
                        element.append(new_description);
                        $(element).css("background", "blue"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }

                    if ( dateStr.toString() == '2019-04-17')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#1313ff;font-size: 14px;'>Rasoa Bakoly <br> Raison personnel</div>";
                        element.append(new_description);
                        $(element).css("background", "blue"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }
                    if ( dateStr.toString() == '2019-04-18')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#1313ff;font-size: 14px;'>Rasoa Bakoly <br> Raison personnel</div>";
                        element.append(new_description);
                        $(element).css("background", "blue"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }
                    if ( dateStr.toString() == '2019-04-19')
                    {
                        var new_description =  "<div align='center'><br><br><br><br><span style='color:white;background-color:#1313ff;font-size: 14px;'>Rasoa Bakoly <br> Raison personnel</div>";
                        element.append(new_description);
                        $(element).css("background", "blue"); // it will set backgroud of that date
                        $(element).css("title", "séjour groupe"); // it will set backgroud of that date
                    }
                },
            });


        });
    </script>
{% endblock %}