{% extends 'base.html.twig' %}

{% block title %}Edit Sauvegarde{% endblock %}

{% block body %}
    <h1>Edit Sauvegarde</h1>

    {{ include('sauvegarde/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sauvegarde_index') }}">back to list</a>

    {{ include('sauvegarde/_delete_form.html.twig') }}
{% endblock %}
