{% extends 'base.html.twig' %}

{% block title %}Sauvegarde index{% endblock %}

{% block body %}
    <h1>Sauvegarde index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pdf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sauvegarde in sauvegardes %}
            <tr>
                <td>{{ sauvegarde.id }}</td>
                <td>{{ sauvegarde.Pdf }}</td>
                <td>
                    <a href="{{ path('sauvegarde_show', {'id': sauvegarde.id}) }}">show</a>
                    <a href="{{ path('sauvegarde_edit', {'id': sauvegarde.id}) }}">edit</a>
                </td>
                <td>
                    <a href=" {{ asset('uploads/brochures/' ~sauvegarde.pdf) }} " class="btn btn-success">Pdf</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sauvegarde_new') }}">Create new</a>
{% endblock %}
