{% extends 'base.html.twig' %}

{% block title %}New Sauvegarde{% endblock %}

{% block body %}
    <h1>Create new Sauvegarde</h1>

    {{ include('sauvegarde/_form.html.twig') }}

    <a href="{{ path('sauvegarde_index') }}">back to list</a>
{% endblock %}
