{% extends 'base.html.twig' %}

{% block title %}Sauvegarde{% endblock %}

{% block body %}
    <h1>Sauvegarde</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sauvegarde.id }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ sauvegarde.Pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sauvegarde_index') }}">back to list</a>

    <a href="{{ path('sauvegarde_edit', {'id': sauvegarde.id}) }}">edit</a>

    {{ include('sauvegarde/_delete_form.html.twig') }}
{% endblock %}
