{% extends 'base.html.twig' %}

{% block title %}TypePermission index{% endblock %}

{% block body %}
    <h1>TypePermission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_permission in type_permissions %}
            <tr>
                <td>{{ type_permission.id }}</td>
                <td>{{ type_permission.nom }}</td>
                <td>
                    <a href="{{ path('type_permission_show', {'id': type_permission.id}) }}">show</a>
                    <a href="{{ path('type_permission_edit', {'id': type_permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_permission_new') }}">Create new</a>
{% endblock %}
