{% extends 'base.html.twig' %}

{% block title %}TypePermission{% endblock %}

{% block body %}
    <h1>TypePermission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_permission.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_permission.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_permission_index') }}">back to list</a>

    <a href="{{ path('type_permission_edit', {'id': type_permission.id}) }}">edit</a>

    {{ include('type_permission/_delete_form.html.twig') }}
{% endblock %}
