{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css" />
{% endblock %}
{% block body %}
    <h3>Calendrier</h3>
    
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js"></script>
    <script type="text/javascript" src="bundles/fullcalendar/js/fullcalendar/lib/moment.min.js"></script>
    <script type="text/javascript" src="bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js"></script>
{% endblock %}
