<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/css.css">
    {#<link rel="stylesheet" href="{{ asset('/css/bootswatch.min.css') }}">#}



    {% block stylesheets %}
        {# FONT AWESOME#}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.cs" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.min.css') }}" />
        <script type="text/javascript" src="{{ asset('fontawesome/js/fontawesome.js') }}"></script>
        <script type="text/javascript" src="{{ asset('fontawesome/js/fontawesome.min.js') }}"></script>


        {# Toiba Full calendar #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="{{ asset('datetimepicker/css/bootstrap-datetimepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('datetimepicker/css/bootstrap-datetimepicker.min.css') }}" />
        <script type="text/javascript" src="{{ asset('datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>


        {# JS BOOTSTRAP#}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>

    {% endblock %}
</head>


<body>

{{ render(controller('App\\Controller\\SecurityController::menu')) }}

<div class="container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}

{% endblock %}
</body>
</html>
