{% extends 'base.html.twig' %}

{% block title %}Edit CompteUtilisateur{% endblock %}

{% block body %}
    <h1>Edit CompteUtilisateur</h1>

    {{ include('compte_utilisateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('compte_utilisateur_index') }}">back to list</a>

    {{ include('compte_utilisateur/_delete_form.html.twig') }}
{% endblock %}
