{% extends 'base.html.twig' %}

{% block title %}CompteUtilisateur index{% endblock %}

{% block body %}
<br>
<div class="">
  {{ form_start(formUtilisateur) }}
  {{ form_widget(formUtilisateur) }}
  <button type="submit">recherche</button>
  {{ form_end(formUtilisateur) }}

</div>
    <h1>CompteUtilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compte_utilisateur in compte_utilisateurs %}
            <tr>
                <td>{{ compte_utilisateur.id }}</td>
                <td>{{ compte_utilisateur.matricule }}</td>
                <td>{{ compte_utilisateur.nom }}</td>
                <td>{{ compte_utilisateur.prenom }}</td>
                <td>{{ compte_utilisateur.email }}</td>
                <td>{{ compte_utilisateur.username }}</td>
                <td>{{ compte_utilisateur.password }}</td>
                <td>
                    <a href="{{ path('compte_utilisateur_show', {'id': compte_utilisateur.id}) }}">show</a>
                    <a href="{{ path('compte_utilisateur_edit', {'id': compte_utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compte_utilisateur_new') }}">Create new</a>
{% endblock %}
