{% extends 'base.html.twig' %}

{% block title %}New CompteUtilisateur{% endblock %}

{% block body %}
    <h1>Create new CompteUtilisateur</h1>

    {{ include('compte_utilisateur/_form.html.twig') }}

    <a href="{{ path('compte_utilisateur_index') }}">back to list</a>
{% endblock %}
