{% extends 'base.html.twig' %}

{% block title %}CompteUtilisateur{% endblock %}

{% block body %}
    <h1>CompteUtilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte_utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ compte_utilisateur.matricule }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ compte_utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ compte_utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ compte_utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ compte_utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ compte_utilisateur.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('compte_utilisateur_index') }}">back to list</a>

    <a href="{{ path('compte_utilisateur_edit', {'id': compte_utilisateur.id}) }}">edit</a>

    {{ include('compte_utilisateur/_delete_form.html.twig') }}
{% endblock %}
