<form method="post" action="{{ path('type_demande_delete', {'id': type_demande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_demande.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
