{% extends 'base.html.twig' %}

{% block title %}Edit TypeDemande{% endblock %}

{% block body %}
    <h1>Edit TypeDemande</h1>

    {{ include('type_demande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_demande_index') }}">back to list</a>

    {{ include('type_demande/_delete_form.html.twig') }}
{% endblock %}
