{% extends 'base.html.twig' %}

{% block title %}New TypeDemande{% endblock %}

{% block body %}
    <h1>Create new TypeDemande</h1>

    {{ include('type_demande/_form.html.twig') }}

    <a href="{{ path('type_demande_index') }}">back to list</a>
{% endblock %}
