{% extends 'base.html.twig' %}

{% block title %}TypeDemande{% endblock %}

{% block body %}
    <h1>TypeDemande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_demande.id }}</td>
            </tr>
            <tr>
                <th>NomType</th>
                <td>{{ type_demande.nomType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_demande_index') }}">back to list</a>

    <a href="{{ path('type_demande_edit', {'id': type_demande.id}) }}">edit</a>

    {{ include('type_demande/_delete_form.html.twig') }}
{% endblock %}
