{% extends 'base.html.twig' %}

{% block title %}New Permission{% endblock %}

{% block body %}
    <h1>Demander permission : </h1>

    {#{{ include('permission/_form.html.twig') }}#}
    <div class="container">
        <div class="starter-template">
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-success">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

        </div>
        <a href="\" class="btn btn-cancel">back to list</a>
        <br>
    <a href="{{ path('dompdf') }}" class="btn btn-primary">Convertir en PDF</a>
    <a href="#" class="btn btn-success">Envoyer</a>
{% endblock %}
{% block javascript %}

            {{ parent() }}
                <script type="text/javascript">
                    $(document).ready(function() {
                         $('#datetimepicker').datetimepicker();

                       });

        </script>


  <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
{% endblock %}
