<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1><center>Détails d'une demande de Permission</center></h1>


    <table class="table">
        <tbody>
        <tr>
            <th>Date de demande</th>
            <td>{{ permission.dateDemande ? permission.dateDemande|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Matricule</th>
            <td>{{ permission.utilisateur.matricule }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ permission.utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Prénoms</th>
            <td>{{ permission.utilisateur.prenom }}</td>
        </tr>
        <tr>
            <th>CIN</th>
            <td>{{ permission.CIN }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ permission.email}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ permission.typePermission.nom }}</td>
        </tr>
        {% if permission.typePermission.nom == 'Autre' %}
            <tr>
                <th>Raison</th>
                <td>{{ permission.raison }}</td>
            </tr>
            <tr>
                <th>nombre de Jour</th>
                <td>{{ permission.nombre }}</td>
            </tr>
        {% else %}
            <tr>
                <th>Nombre de Jour</th>
                <td>{{ permission.typePermission.NbJour }}</td>
            </tr>
        {% endif %}

        <tr>
            <th>Département</th>
            <td>{{  permission.utilisateur.departement.nom }}</td>
        </tr>
        <tr>
            <th>Date de début</th>
            <td>{{ permission.dateDebut ? permission.dateDebut|date() }}</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>

