{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
    <h1>Permission index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Date de demande</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Type</th>
            <th>Département</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.dateDemande ? permission.dateDemande|date('Y-m-d')}}</td>
                <td>{{ permission.utilisateur.matricule}}</td>
                <td>{{ permission.utilisateur.nom}}</td>
                <td>{{ permission.typePermission.nom }}</td>
                <td>{{ permission.utilisateur.departement.nom}}</td>
                <td>
                    <a href="{{ path('permissionEnvoyer_show', {'id': permission.id}) }}">show</a>
                    <a href="{{ path('permission_edit', {'id': permission.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('permission_new') }}">Create new</a>
{% endblock %}
