{% extends 'base.html.twig' %}

{% block title %}TypeConge index{% endblock %}

{% block body %}
    <h1>TypeConge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_conge in type_conges %}
            <tr>
                <td>{{ type_conge.id }}</td>
                <td>{{ type_conge.Nom }}</td>
                <td>
                    <a href="{{ path('type_conge_show', {'id': type_conge.id}) }}">show</a>
                    <a href="{{ path('type_conge_edit', {'id': type_conge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_conge_new') }}">Create new</a>
{% endblock %}
