{% extends 'base.html.twig' %}

{% block title %}New TypeConge{% endblock %}

{% block body %}
    <h1>Create new TypeConge</h1>

    {{ include('type_conge/_form.html.twig') }}

    <a href="{{ path('type_conge_index') }}">back to list</a>
{% endblock %}
