{% extends 'base.html.twig' %}

{% block title %}TypeConge{% endblock %}

{% block body %}
    <h1>TypeConge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_conge.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_conge.Nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_conge_index') }}">back to list</a>

    <a href="{{ path('type_conge_edit', {'id': type_conge.id}) }}">edit</a>

    {{ include('type_conge/_delete_form.html.twig') }}
{% endblock %}
